#articles-needs-setup a {
    text-decoration: underline;
}

#article-list span.article-name,
#article-list span.article-update {
    font-weight: bold;
}

span.article-advanced-search-header {
    font-size: 1.05em ;
    font-weight: bold;
}
